/* *{
    border-style: solid;
    border-width: 2px;
} */
body{
    margin:0;
    padding: 0;
}
h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    /* identical to box height, or 100% */
    color: #C4C4C4;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: center;
}

h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #C4C4C4;
}

h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #C4C4C4;
}

h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #C4C4C4;
}

.label{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #C4C4C4;
}

.text{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #C4C4C4;
}

.text_gray, .text_li{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #C4C4C4;
}

.arrow {
    font-size: 12px;
    font-weight: bold;
}


.nav-header  {
font-family: Source Sans Pro;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
width: 100%;

}

.nav-header a {
    text-decoration: none;
    color: white;
    margin-left: 5%;
}

.relap-nav{
    margin-bottom: 5%;
}
.relap-nav-sm {
    display: none;
}

.relap-icon {
    color: white;
    margin: 0;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    
}

.relap-button {
       background: none;
       font-weight: bold;
       color: white;
       padding: 15px 64px;
       text-align: center;
       text-decoration: none;
       font-size: 16px;
       margin: 0px 40px;
       cursor: pointer;
       width: 19%;
       border-color: #FFFFFF;
       border-radius: 25px;
       border-style: solid;
       border-width: 1px;
}

.fb-main {
    position: absolute;
    z-index: 0; 
    bottom: 2%; 
    right: 16%;
}
.twitter-main {
    position: absolute;
    z-index: 0; 
    bottom: 2%; 
    right: 13%;
}
.insta-main {
    position: absolute; 
    z-index: 0; 
    bottom: 2%; 
    right: 10%;
}

.row {
    display: flex;
}

.column {
    margin: 0% 1%;
}

.icon {
    font-size: 22px;
}

.main {
    padding-top: 10%;
    padding-right: 0%;
    font-size: 30px;
}

.first {
    margin-top: 5%;
}

.main-feature {
    text-align: center;
}

.button {
    background-color: rgb(200,109,215);
    border: none;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    padding: 16px 70px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 0px 40px;
    cursor: pointer;
}

.button2 {
    background-color: #008CBA;
}

.center {
    margin: auto;
    width: 50%;
}

.seperate {
    padding: 2% 0%;
}




.corporis-wrapper {
    padding-top: 4%;
    margin-top: -13%;
    background: white;
}
.corporis {
    margin-left: 11.5%;
}

.corporis-sub {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: purple;
}
.corporis-circle {
    z-index: 1;
    position: relative;
    bottom: 55%;
    left: -5%;
}

.corporis-text {
    width: 80%;
}

.hover-img{
    position: absolute;
    right: 0;
}

.hover-img-bg{
        margin-left: 15px;
        margin-top: 25px;
}

.hover-img-left{
    width: 46%;
}
.corporis-heading {
    /* width: 50%; */
    text-align: left;
    margin-top: 0%;
}

.landing {
    background-image: url(../images/main.png);
    background-size: contain;
}

.landing-content {
    margin-left: 6.5%;
}

.main-header{
    color: white;
    margin-bottom: 10%;
}

.main-text{
    color: white;
    font-weight: 600;
    margin-bottom: 5%;
}

.optimus-left {
    width: 27%;
}

.computer{
    margin-left: 15%;
}

.computer-img {
    width: 704px;
    height: 790px;
}
.width-50{
    width: 50%;
}
.multiscreen-wrapper{
    background-color: #FDF2FF;
}
.multiscreen{
    margin-left: 11.5%;
    margin-right: 11.5%;
    background-color: #FDF2FF;
}

.small-heading {
    color: #333333;
}

.multiscreen-heading {
    width: 50%;
    text-align: left;
    margin-top: 0%;
}
#multiscreen-text{
    width: 50%;
    color: #333333;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.multi-list{
    list-style: none;
    overflow: hidden;
    padding-left: 0;
}

.multi-list li {
    float: left;
    padding-right: 2.5%;
}

.multi-img{
    width: 360px;
    height: 272px;
    padding: 2%;
    padding-left: 0;
}

.multi-img-row{
    margin-top: -11%;

}

.button-all-works {
    margin-left: 35%;
}

.img-with-text {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 1.3%;
    padding-right: 1.3%;
  }

  .bottom-left-text {
    position: absolute;
    bottom: 15px;
    left: 16px;
    color: white;
  }

.tiles {

    width: 33%;
    text-align: left;
    padding:3%;
    margin-right: 6%;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
border-radius: 3px;
}
.tile-1{
    margin-left: 8.5%;
}

.contact-us,.office-debitis{
    text-align: center;
    color: rgb(51 51 51);
    margin-bottom: 12.5%;
}

.contact-us-header,.office-debitis-header{
    /* font-size: 60px; */
    padding-top: 10%;
    margin-bottom: -1%;
    /* font-weight: 700; */
    
}

.contact-us-para,.office-debitis-para{
    margin:5% auto;
    width: 80%;
    color: #333333;

    
}

.contact-us-email {
    margin-left: 8%;
    width: 54%;
    border-color: silver;
}

.black {
    color: #333333;
}

.footer {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #FDF2FF;
}

.footer-left {
    width: 70%;
}

.footer-links>a {
    text-decoration: none;
    color: inherit;
    margin-top: 5%;
    margin-left: 5%;
}

.footer-list {
    list-style: none;
    margin-left: 15%;
    padding-top: 1%;
}

.footer-img-row{
    display: flex;
    margin-top: 37%;
}

.footer-img{
    margin-left: 10%;
}

.text_li{
    color: #333333;
    opacity: 0.5;
}

ul > li {
    margin-bottom: 12%;
}




.pad-left-five-perc {
    padding-left: 5%;
}

@media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
    .landing {
        background-image: url(../images/main-bg-mobile.png);
        background-size: contain;
    }

    .relap-nav{
        margin-bottom: 5%;
        display: none;
    }

    .computer-img {
        width: 412px;
        height: 462px;
        margin-left: 6%;
        max-width: initial;
        margin-top: 5%;
    }

    .optimus-left {
        width: 90%;
    }
    .hover-img-left{
        width: 100%;
    }

    .hover-img{
        width: 339px;
        height: 272px;
        position: absolute;
        right: 15px;
    }
    
    .hover-img-bg{
        width: 355px;
        height: 272px;
        margin-left: 10px;
        margin-top: 20px;
    }

    .corporis-wrapper {
        margin-top: -21%;
    }
    .corporis-circle {
        z-index: 1;
        position: relative;
        top: -190px;
        left: 85%;
        width: 58px;
        height: 58px;
    }

    .footer-img-row{
        display: flex;
        margin-top: 5%;
        margin-left: 10%;
    }
    .copyright {
        margin-left:10%;
    }

    .footer-list {
        list-style: none;
        margin-left: 0%;
        padding-top: 0%;
    }
    .center {
        margin: auto;
        width: 100%;
    }
    .contact-us-email {
        margin: 5% 10%;
        width: 78%;
        border-color: silver;
    }
    .computer {
        margin-left: 0%;
    }

    .button-sm {
        width: 50%;
        margin: auto;
    }

    .tiles {

        width: 80%;
        text-align: left;
        padding:3%;
        margin-right: 6%;
        box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
        border-radius: 3px;
    }
    .tile-1,.tile-2,.tile-3 {
        margin-top: 5%;
        margin-left: 8.5%;
    }

    .header-sm{
        font-size: 40px;
        width: 100%;
    }

    .multiscreen{
        margin-left: 5%;
        margin-right: 8%;
        background-color: #FDF2FF;
    }

    .button-all-works {
        margin-left: 22%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #multiscreen-text{
        width: 100%;
        color: #333333;
        mix-blend-mode: normal;
        opacity: 0.5;
    }

    .corporis {
        margin-left: 5%;
    }
    .corporis-text {
        width: 90%;
    }
    .fb-main {
        position: absolute;
        z-index: 0; 
        bottom: -30%; 
        right: 55%;
    }
    .twitter-main {
        position: absolute;
        z-index: 0; 
        bottom: -30%; 
        right: 45%;
    }
    .insta-main {
        position: absolute; 
        z-index: 0; 
        bottom: -30%; 
        right: 35%;
    }

    .relap-icon {
    color: black;
    margin: 0;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    
    }

    .relap-nav-sm {
        background: white;
        padding: 5%;
        display: flex;
        flex-direction: row;
    }

    .hamburger-menu{
        margin-top: -2.5%;
        margin-left: 55%;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }

      .side-crop { max-width: 100%; overflow: hidden; }
  }